CheckerClient/.idea/misc.xml
CheckerServer/.idea/misc.xml
FXVersaServer/.idea/misc.xml
CheckerClient/.idea/workspace.xml
CheckerServer/.idea/workspace.xml
FXVersaServer/.idea/workspace.xml
/CheckerClient/nbproject/private/
/CheckerClient/build/